.Rproj.user
.Rhistory
.RData
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.tex
*.nav
*.snm
*.toc
dev/*
framed.sty
paper/*cache/*
paper/figures/
data/2000/*
data/all*.rda
data/x1.csv
data-raw/swiid9_*
paper/wrangling_data_files/*
